
.background {
    display: flex;
    justify-content: center;
}

.login {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    height: 500px;
    width: 400px;
    border: #c46e6e 1px solid;
    border-radius: 20px;
    background-color: #d37777;
}

#submit {
    width: 65px; 
}
